.banner {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}


.band-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background-color: white;

  p {
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}


.buttons-header {
  display: flex;
  gap: 15px;

  button {
    font-size: 1.2rem;
  }
}

.band-number-products {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 14px;

  .promotion {
    font-weight: bold;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin: 0 auto;
}


.grid-products {
  padding: 30px;

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;

    img {
      width: 100%;
      height: auto;
    }

    p {
      text-align: center;
      font-size: 14px;

      &.price {
        font-weight: bold;
      }
    }
  }
}

.footer {
  padding: 30px;
  text-align: center;

  button {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .buttons-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;

    i {
      font-size: 1.2rem;
    }
  }

  .img-footer {
    margin-top: 20px;

    img {
      height: 30px;

      &.master {
        margin-right: 10px;
      }
    }
  }
}
